@model IEnumerable<HTQL_DU_LICH.Models.Review>

<h2>Đánh giá của tôi</h2>

<table class="table">

    <tr>
        <th>Số sao</th>
        <th>Nội dung</th>
        <th>Ngày tạo</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Rating ⭐</td>
            <td>@item.Comment</td>
            <td>@item.CreatedAt</td>
        </tr>
    }

</table>