@model HTQL_DU_LICH.Models.Service

<h2>Sửa dịch vụ</h2>

<form method="post">

    <input type="hidden"
           asp-for="Id" />

    <input type="hidden"
           asp-for="VendorId" />

    <div class="mb-2">

        <label>Tên</label>

        <input asp-for="Name"
               class="form-control" />

    </div>

    <div class="mb-2">

        <label>Loại</label>

        <input asp-for="ServiceType"
               class="form-control" />

    </div>

    <div class="mb-2">

        <label>Mô tả</label>

        <textarea asp-for="Description"
                  class="form-control"></textarea>

    </div>

    <div class="mb-2">

        <label>Giá</label>

        <input asp-for="Price"
               class="form-control" />

    </div>

    <div class="form-check mb-3">

        <input asp-for="IsActive"
               class="form-check-input" />

        <label asp-for="IsActive"
               class="form-check-label">

            Đang hoạt động

        </label>

    </div>

    <button class="btn btn-primary">

        Cập nhật

    </button>

</form>